* {
    font-family: verdana;
    font-size: 1em;
    box-sizing: border-box;
}

#app {
    width: 100%;
    display: flex;
}

.theForm {
    float: left;
    width: 200px;
    height: 100%;
}

.topArtists {
     float: left;
     width: 200px;
     height: 100%;
}

.listenTimeline {
    width: 100%;
    height: 100%;
}

.formField {
    width: 100%;
    padding: 3px;
    margin: 5px 0px 10px 0px;
}

.formLabel {
    clear: both;
    width: 100%;
}

.formButton {
    margin: 5px 0px;
    padding: 5px;
    background-color: white;
    border: 1px solid black;
    clear: both;
}

.formButton:hover {
    background-color: #dddddd;
}

.formButton:active {
    background-color: #A0A0A0;
}